@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #2f1a3b;
}

.list {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 70%;
}
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

.section {
  padding: 60px 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  border-style: none;
  background: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.header {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
}
.header__container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-family: "MonteCarlo", cursive;
  font-size: 40px;
  color: #fff;
}
@media screen and (max-width: 660px) {
  .header .navbar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #8e83aa;
    font-size: 16px;
    visibility: hidden;
    opacity: 0;
  }
}
@media screen and (max-width: 660px) {
  .header .navbar.visible {
    visibility: visible;
    opacity: 1;
  }
}
.header .navbar__btn--open {
  display: none;
  font-size: 25px;
  color: #d5d3e1;
}
@media screen and (max-width: 660px) {
  .header .navbar__btn--open {
    display: block;
  }
}
.header .navbar__btn--open:hover, .header .navbar__btn--open:focus, .header .navbar__btn--open:focus-within {
  color: #2f1a3b;
}
.header .navbar__btn--close {
  visibility: hidden;
  opacity: 0;
  font-size: 25px;
  color: #d5d3e1;
}
@media screen and (max-width: 660px) {
  .header .navbar__btn--close {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }
}
@media screen and (max-width: 660px) {
  .header .navbar__btn--close.visible {
    visibility: visible;
    opacity: 1;
  }
}
.header .navbar__btn--close:hover, .header .navbar__btn--close:focus, .header .navbar__btn--close:focus-within {
  color: #2f1a3b;
}
.header .navbar__list {
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 660px) {
  .header .navbar__list {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 10px;
  }
}
.header .navbar__list--item-link {
  padding: 5px 15px;
  font-weight: 500;
  letter-spacing: 0.06em;
  color: #d5d3e1;
}
.header .navbar__list--item-link:hover, .header .navbar__list--item-link:focus, .header .navbar__list--item-link:focus-within, .header .navbar__list--item-link.active {
  border-bottom: 3px solid #5a4573;
  color: #fff;
}
@media screen and (max-width: 660px) {
  .header .navbar__list--item-link:hover, .header .navbar__list--item-link:focus, .header .navbar__list--item-link:focus-within, .header .navbar__list--item-link.active {
    border: none;
    color: #2f1a3b;
  }
}

.hero {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(90, 69, 115, 0.6), rgba(142, 131, 170, 0.4)), url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: 30%;
  }
}
@media screen and (max-width: 660px) {
  .hero {
    display: flex;
    align-items: end;
    padding-bottom: 50px;
    background-image: linear-gradient(to bottom, rgba(90, 69, 115, 0.6), rgba(142, 131, 170, 0.4)), url(../images/hero-bg-mobile.jpg);
  }
}
.hero__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .hero__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.hero__card {
  right: 60px;
  width: 600px;
  padding: 60px 40px 40px;
  border-radius: 10px;
  background-color: rgba(90, 69, 115, 0.6);
  backdrop-filter: blur(10px);
  color: #fff;
}
.hero__card--subtitle {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #d5d3e1;
}
.hero__card--title {
  margin-top: 5px;
  font-family: "MonteCarlo", cursive;
  font-size: 120px;
  font-weight: 700;
  line-height: 1.25;
}
@media screen and (max-width: 660px) {
  .hero__card--title {
    font-size: 100px;
  }
}
.hero__card--text {
  margin: 20px 0 45px;
  color: #d5d3e1;
}
.hero__card--btn {
  padding: 25px 72px;
  border-radius: 5px;
  background-color: #8e83aa;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
