@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Poppins:wght@400;500;600;700&display=swap');
@import 'utils/colors';
@import 'utils/mixins';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: getColor('primary');
}

.list {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 70%;
  @include tablet {
    width: 90%;
  }
}

.section {
  padding: 60px 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  border-style: none;
  background: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

@import 'components/header';
@import 'components/hero';
