.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
//   background-color: getColor('primary-o20');
//   backdrop-filter: blur(5px);
  &__container {
    height: 100%;
    @include centered(space-between);
    padding: 0 30px;
  }
  &__logo {
    font-family: 'MonteCarlo', cursive;
    font-size: 40px;
    color: getColor('white');
  }
  .navbar {
    &__list {
      display: flex;
      gap: 15px;
      &--item {
        &-link {
          padding: 5px 15px;
          color: getColor('light-font');
          &:hover,
          &:focus,
          &:focus-within,
          &.active {
            border-bottom: 3px solid getColor('white');
            color: getColor('white');
          }
        }
      }
    }
  }
}
